.headerBody{
  font-family: "\5FAE\8F6F\96C5\9ED1";
  margin: 0;
  font-size: 12px;
  color: #333;
  padding: 0;
  display: block;
}
.area{
  height: 30px;
  background: #F7F7F7;
  font: 12px/30px "\5FAE\8F6F\96C5\9ED1";
  color: #777;
  position: relative;
  z-index: 10000;
  min-width: 1200px;
}
.autoTopNavBar {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.block1 {
  float: left;
}

.element1 {
  margin-right : 10px;
  color : #777;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  text-decoration: none;
  outline: medium none;
}
.block2 {
  float: left;
}
.element2 {
  color: #777;
  padding: 0 26px 0 16px;
  background: url(../images/ico2_bg.png) no-repeat right -35px;
  display: block;
  margin-right : 10px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  text-decoration: none;
  outline: medium none;
}
.element2 -any-link {
  cursor: auto;
}
.block3 {
  float: left;
}
.element3 {
  color: #777;
  padding: 0 26px 0 6px;
  background: url(../images/ico2_bg.png) no-repeat right -35px;
  display: block;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  text-decoration: none;
  outline: medium none;
}
.element3 -any-link {
  cursor: auto;
}
.search {
  margin: auto;
  width: 1200px;
  padding: 25px 0 20px;
  height: 41px;
  clear: both;
}
.logo {
  display: block;
  float: left;
  width: 146px;
  height: 41px;
  background: url(http://m3.auto.itc.cn/car/theme/newwapdb/images/icon_sea_77e77e3.png) no-repeat 0 0;
  color: #000;
  font-size: 18px;
}
.suggestBox {
  float: left;
  position: relative;
  z-index: 99;
}
.suggestForm {
  display: block;
  margin-top: 0em;
}
.searchInput {
  box-sizing: border-box;
  height: 40px;
  width: 491px;
  border: 1px solid #529ff2;
  line-height: 28px;
  padding: 5px 10px 5px 6px;
  font-size: 14px;
}
.searchClear {
  width: 16px;
  height: 16px;
  cursor: pointer;
  top: 12px;
  left: 465px;
  position: absolute;
  background: url(http://m3.auto.itc.cn/car/theme/newwapdb/images/sea_clear_8c55e3c.png);
}
.searchButton {
  width: 96px;
  padding: 0;
  height: 40px;
  font: 400 18px "\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  vertical-align: -2px;
  cursor: pointer;
  border: 0;
  background: #529ff2;
  text-align: center;
}
.tab {
  background: #F7F7F7;
  height: 38px;
  margin: auto;
  width: 1200px;
  padding-left: 146px;
  box-sizing: border-box;
  clear: both;
}