.leftBody{
  float: left;
  margin-left: 146px;
  width: 715px;
  border-right: 1px solid #EBEBEB;
  display: block;
}
.infoCard{
  width: 650px;
  font-family: "\5FAE\8F6F\96C5\9ED1",Arial;
  padding: 4px 0;
  overflow: hidden;
  display: block;
}
.h2title{
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  overflow: hidden;
  font-weight: 400;
  margin: 0;
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.atitle{
  color: #4F9DF6;
  text-decoration: underline;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}